#ash{
  width: 30%;
}
h1{
  padding-bottom: 10px;
  border-bottom: 2px solid red;
  width: 75%;
  font-family: 'Aldrich', sans-serif;
}
#gym {
  font-size: 18px;

}

#gymbadge {
  float: right;
  width: 30%;
  margin-left: 5px;

}

.picButton {
  margin-top: 10px;
}

.paragraph {
  text-align: center;
}